.wrapper {
    display: flex;
    align-items: center;
    height: 100px;
    background: var(--darkGrey);
    padding: 0 1rem;
}

.content {
  position: relative;
  max-width: var(--maxWidth);
  width: 100%;
  height: 55px;
  background: var(--medGrey);
  margin: 1rem auto;
  border-radius: 40px;
  color: var(--white);
}

.content img {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 30px;
}

.content input {
    font-size: var(--fontBig);
    position: absolute;
    left: 0;
    margin: 8px 0;
    padding: 0 0 0 60px;
    border: 0;
    width: 95%;
    background: transparent;
    height: 40px;
    color: var(--white);
}

.content input:focus {
    outline: none;
}